<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">Swagger</a>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link menu" href="#doc">API TEST</a>
        </li>
        <li class="nav-item">
          <a class="nav-link menu" href="#history">History</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script type="module">
  //@ sourceURL=swagger.menu
  class SwaggerMenuView {
    constructor() {
      this.currentPage = null;
      this.menuSelector = '.navbar-nav .nav-link.menu';
    }

    init() {
      this.setupEventListeners();
      this.loadPageFromHash();
    }

    setupEventListeners() {
      $(this.menuSelector).on('click', (event) => {
        this.activateMenu($(event.currentTarget));
      });

      $(window).on('hashchange', () => this.loadPageFromHash());
    }

    loadPageFromHash() {
      const hash = window.location.hash;
      const pageId = hash.substring(1);
      this.showPage(pageId);
    }

    activateMenu($menuLink) {
      $(`${this.menuSelector}.active`).removeClass('active');
      $menuLink.addClass('active');
    }

    showPage(pageId) {
      const $menu = $(`${this.menuSelector}[href="#${pageId}"]`);
      if ($menu.length) {
        this.activateMenu($menu);
        this.currentPage = pageId;
        console.log(`Showing page: ${pageId}`);
        $('#main-container').load(`swagger/${pageId}`);
      }
    }
  }

  // 페이지 시작
  $(document).ready(function () {
    const view = new SwaggerMenuView();
    view.init();
  });
</script>
