.swagger-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.swagger-body {
  flex-grow: 1;
  overflow-y: auto;
}

.method-tag {
  width: 80px;
  text-align: center;
  padding: 2px 8px;
  border-radius: 4px;
  font-weight: bold;
  color: white;
  margin-right: 10px;
  white-space: pre;
  flex-shrink: 0;
}

.method-tag.small {
  width: 50px;
  padding: 2px 5px;
}

.GET {
  background-color: #61affe;
}

.POST {
  background-color: #49cc90;
}

.PUT {
  background-color: #fca130;
}

.DELETE {
  background-color: #f93e3e;
}

.HEAD {
  background-color: #9012fe;
}

.PATCH {
  background-color: #50e3c2;
}

.OPTIONS {
  background-color: #0d5aa7;
}

.SEARCH {
  background-color: #b84592;
}

.api-groups {
  cursor: pointer;
  display: 'flex';
  align-items: 'center';
  padding-right: '0px';
}

.sidebar-nav .nav-group.show .nav-group-toggle {
  background: rgba(69, 67, 67, 0.28);
}

.api-path {
  width: 100%;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  list-style: none;
}

.api-path:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.api-path.show {
  background-color: rgba(0, 0, 0, 0.1);
}

.api-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  align-items: center;
}

.split {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.tab-pane .CodeMirror {
  flex: 1;
  height: 100%;
}

.swagger-tabs {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #282c34;
}

.ͼw {
  color: #7c8dab;
}

.swagger-panel {
  height: 100%;
  padding: 0px !important;
  overflow-y: auto;
  background: #282c34;
}

.swagger-tab-list {
  background: #282c34 !important;
  color: white !important;
}

.MuiTabs-indicator {
  background-color: white !important;
}

.gutter.gutter-horizontal {
  background-color: #e7e7e7;
  transition: background-color 0.3s ease;
  cursor: col-resize;
}

.gutter.gutter-horizontal:hover {
  background-color: #bbb;
}

.gutter.gutter-horizontal:active {
  background-color: #999;
}

.gutter.gutter-vertical {
  background-color: #e7e7e7;
  transition: background-color 0.3s ease;
  cursor: col-resize;
}

.gutter.gutter-vertical:hover {
  background-color: #bbb;
}

.gutter.gutter-vertical:active {
  background-color: #999;
}

.query-table-container {
  color: white !important;
  padding: 20px;
}

.query-table-header {
  font-weight: bold !important;
  color: white !important;
}

.query-table-cell {
  color: white !important;
}

.query-text-field {
  background-color: white;
}
