<head>
  <title>API Test</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/highlight.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/test/style.css" />
  <script src="/js/test/kakao.js"></script>
  <script src="/js/test/naver.js"></script>
  <script src="/js/test/google.js" async></script>
  <script src="/js/common.js"></script>
  <script src="/js/jquery-3.7.0.min.js"></script>
  <script src="/js/highlight.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <div id="platform-config" class="hidden"><%= JSON.stringify(platform) %></div>
  <script>
    const platformConfigElement = $('#platform-config');
    const platformConfig = JSON.parse(platformConfigElement.text());
    window.platformConfig = platformConfig;
  </script>
</head>
