<head>
  <title>API Test</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/highlight.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <script src="/js/jquery-3.7.0.min.js"></script>
  <script src="/js/highlight.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
  <script src="/js/swagger.common.js"></script>
  <div id="spec-data" class="hidden"><%= JSON.stringify(spec) %></div>
  <div id="config-data" class="hidden"><%= JSON.stringify(config) %></div>
  <div id="servers-data" class="hidden"><%= JSON.stringify(servers) %></div>

  <script>
    const promise = loadJSON('./resources/status.json');
    promise.done((json) => (window.statusJson = json));

    const specElement = $('#spec-data');
    const spec = JSON.parse(specElement.text());
    window.spec = spec;

    const configElement = $('#config-data');
    const config = JSON.parse(configElement.text());
    window.config = config;

    const serversElement = $('#servers-data');
    const servers = JSON.parse(serversElement.text());
    window.servers = servers;

    initSwaggerStorage();
  </script>
</head>
