<div id="sidebar-view"></div>

<script type="module">
  //@ sourceURL=sidebar.view
  import util from '/js/swagger/swagger.util.js';
  import components from '/js/swagger/swagger.components.js';
  class SidebarView {
    constructor() {
      this.$sidebar = new components.Sidebar();
      $('#sidebar-view').append(this.$sidebar.getComponent());
    }

    async initAsync() {
      this.$sidebar.apiList.forEach(($item) => {
        $item.on('click', () => this.scrollToApi(`${$item.attr('tag')}-${$item.attr('method')}-${$item.attr('path')}`));
      });
    }

    /**
     * 특정 API로 스크롤하는 함수
     */
    scrollToApi(id) {
      const $section = safeSelect(id);
      if ($section.length) {
        collapseAll();
        $section.removeClass('hidden');
        const $parent = $section.closest('.card.mb-4');
        if ($parent.length) {
          $parent.find('.card-body').removeClass('hidden');
        }
        $section.closest('.tag-container')[0].scrollIntoView({
          block: 'center',
          behavior: 'smooth',
        });
      }
    }
  }

  $(document).ready(async function () {
    const view = new SidebarView();
    await view.initAsync();
  });
</script>
