<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <%- include("./common/test.header.ejs") %>
  </head>

  <body>
    <div class="d-flex" id="wrapper">
      <div id="menu-container"><%- include("./common/test.menu.ejs") %></div>
      <div id="main-container"></div>
    </div>
    <div id="loading-overlay" class="hidden">
      <div class="loading-spinner"></div>
    </div>
  </body>

  <script type="module">
    class TestMainView {
      constructor() {}

      async initAsync() {}
    }
    // 페이지 시작
    $(document).ready(async function () {
      const view = new TestMainView();
      await view.initAsync();
    });
  </script>
</html>
