<div id="sidebar-view"></div>

<script type="module">
  //@ sourceURL=sidebar.view
  import util from '/js/swagger.util.js';
  import components from '/js/swagger.components.js';
  class SidebarView {
    constructor() {
      this.$sidebar = new components.Sidebar();
      $('#sidebar-view').append(this.$sidebar.getComponent());
    }

    async initAsync() {
      this.$sidebar.tagList.forEach(($item) => {
        new Sortable($item[0], {
          group: {
            name: 'shared',
            pull: 'clone',
            put: false,
          },
          animation: 150,
          sort: false,
        });
      });
    }
  }

  $(document).ready(async function () {
    const view = new SidebarView();
    await view.initAsync();
  });
</script>
