<%- include('./swagger.generate.test.sidebar.ejs') %>
<div class="container-fluid content-container">
  <div><%- include("./swagger.generate.test.info.ejs") %></div>
  <div><%- include('./swagger.generate.test.setting.ejs') %></div>
</div>
