<div class="schema-section">
  <button id="schema-control" class="schema-control" onclick="toggleHidden('schema-info')">
    <span>Schemas</span>
  </button>
</div>
<div class="schema-info toggle-component hidden" id="schema-info"></div>

<script type="module">
  //@ sourceURL=schema.view
  import util from '/js/swagger.util.js';
  import components from '/js/swagger.components.js';
  class SchemaView {
    constructor() {
      this.$schemaInfo = $('#schema-info');
    }

    async initAsync() {
      this.renderSchemas();
    }

    renderSchemas() {
      $.each(spec.components.schemas, (schemaName, schema) => {
        const $schemaDetailContainer = $('<div>').addClass('schema-detail-container');
        const $schemaPath = $('<div>').addClass('card-body schema-path');
        $schemaPath.on('click', () => toggleHidden(`${schemaName}-details`));
        $schemaPath.append($('<span>').text(schemaName));
        $schemaDetailContainer.append($schemaPath);
        const $schemaDetails = $('<div>').addClass('schema-details toggle-component hidden');
        $schemaDetails.attr({
          id: `${schemaName}-details`,
        });
        const $schemaComponent = new components.Schema(schema);
        $schemaDetails.append($schemaComponent.getComponent());
        $schemaDetailContainer.append($schemaDetails);
        this.$schemaInfo.append($schemaDetailContainer);
      });
    }
  }

  $(document).ready(async function () {
    const view = new SchemaView();
    await view.initAsync();
  });
</script>
