<%- include("./swagger.doc.sidebar.ejs") %>
<div class="container-fluid content-container">
  <div><%- include("./swagger.doc.info.ejs") %></div>
  <div><%- include("./swagger.doc.api.ejs") %></div>
  <div><%- include("./swagger.doc.schema.ejs") %></div>
</div>
