<div class="info-section">
  <div class="mb-4">
    <h1 id="api-title"></h1>
    <p id="api-description"></p>
  </div>
  <div class="mb-4">
    <div class="mb-4">
      <button class="btn btn-primary" id="data-reset-btn">Storage Reset</button>
    </div>
    <div id="header-section"></div>
  </div>
</div>

<script type="module">
  //@ sourceURL=info.view
  import util from '/js/swagger.util.js';
  import components from '/js/swagger.components.js';
  class InfoView {
    constructor() {}

    async initAsync() {
      this.$header = new components.Header();
      $('#header-section').append(this.$header.getComponent());
      $('#data-reset-btn').on('click', this.storageReset.bind(this));
      $('#api-title').text(window.spec.info.title).append($('<div>').addClass('version').text(window.spec.info.version));
      $('#api-description').html(window.spec.info.description.replace(/\n/g, '<br>'));
    }

    storageReset() {
      swaggerStorge = {};
      localStorage.clear();
      sessionStorage.clear();
      location.reload();
    }
  }

  $(document).ready(async function () {
    const view = new InfoView();
    await view.initAsync();
  });
</script>
